## Node / NestJS
dist/
node_modules/
build/
.temp
.tmp

## Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

## Environment
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

## Tests
/coverage
/.nyc_output

## Java / Spring Boot / Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
HELP.md

## Prisma
/generated/prisma

## IDEs
/.idea
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.factorypath
.settings/
.springBeans
.sts4-cache
.c9/
*.launch
*.sublime-workspace
.vscode/
.vscode/*

## OS
.DS_Store

## NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/